<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}

{% if getLangDebug() %}
    {{ g11nDebugTable() }}
    {{ g11nEventsTable() }}
{% endif %}
</body>
</html>
